*{
    padding: 0;
    margin: 0;
}
.hero {
    background: url('/img1.webp') no-repeat center center/cover;
    height: 90vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 8px #000;
  }
  .product-img {
    height: 200px;
    object-fit: cover;
  }

  footer {
    background-color: #1a1a1a;
    color: #ccc;
    padding: 40px 20px 20px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    margin: auto;
  }

  
  .footer-column h3 {
    color: #0084ff;
    margin-bottom: 15px;
  }
  
  .footer-column p,
  .footer-column ul,
  .footer-column a {
    font-size: 14px;
    line-height: 1.6;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
  }
  
  .footer-column a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-column a:hover {
    color: #0800ff;
  }

  .imgtestimonial{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border: 4px solid rgba(234, 94, 45, 1) /* opcional: color de borde */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15)

}

.stars i {
    color: rgba(234, 94, 45, 1); 
    font-size: 24px; 
    margin-right: 5px; 
  }
  
  .stars i.far {
    color: #d3d3d3; 
  }
  